<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          PocketShelf: Request Form!
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <div class="tactile-stuff">
    </div>
  </div>
</div>

<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl] = "form">
    <form [formGroup] = "form">
      <ng-template matStepLabel>Fruits</ng-template>
        <section class="form-fruits-fresh" [formGroup]="form">
          <mat-card-subtitle class="fruits-fresh-subtitle">Fresh</mat-card-subtitle><br />
          <mat-checkbox formControlName="miscFreshFruit" (change)="updateList('miscFreshFruit')">Miscellaneous Fresh Fruit as available</mat-checkbox><br />
          <mat-checkbox formControlName="appleJuice" (change)="updateList('appleJuice')">Apple juice</mat-checkbox><br />
          <mat-checkbox formControlName="frozenPeaches" (change)="updateList('frozenPeaches')">Frozen peaches</mat-checkbox><br />
       </section>
       <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
    <form [formGroup]="form" (ngSubmit) = "submitForm()">
      <ng-template matStepLabel>Finish</ng-template>
      <p>Make sure you double check all the foods wanted are checked. If so, submit form!</p>
      <mat-card-actions align="start">
        <button
          mat-button
          type="button"
          class= "submit_button"
          type="submit"
          data-test="confirmAddRequestButton">
          Submit Request Form
        </button>
      </mat-card-actions>
    </form>
  </mat-step>
</mat-stepper>


<!--First Stepper-->
<!-- <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="name" required>
        <mat-error *ngIf="formControlHasError('name')" data-test="nameDescriptionError">
          {{getErrorMessage('name')}}
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Family Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Family Size</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Number in household</mat-label>
        <input matInput placeholder="" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Second Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fruits</ng-template>
        <section class="form-fruits-fresh" [formGroup]="form">
          <mat-card-subtitle class="fruits-fresh-subtitle">Fresh</mat-card-subtitle><br />
          <mat-checkbox formControlName="miscFreshFruit">Miscellaneous Fresh Fruit as available</mat-checkbox><br />
          <mat-checkbox formControlName="appleJuice">Apple juice</mat-checkbox><br />
          <mat-checkbox formControlName="frozenPeaches">Frozen peaches</mat-checkbox><br />
       </section>
        <section class="form-fruits-canned" [formGroup]="form"><br />
         <mat-card-subtitle class="fruits-canned-subtitle">Canned</mat-card-subtitle><br />
          <mat-checkbox formControlName="mixedFruit">Mixed fruit</mat-checkbox><br />
          <mat-checkbox formControlName="peaches">Peaches</mat-checkbox><br />
         <mat-checkbox formControlName="appleSauce">Apple sauce</mat-checkbox><br />
       </section>
        <section class="form-fruits-dried" [formGroup]="form"><br />
          <mat-card-subtitle class="dried-subtitle">Dried</mat-card-subtitle><br />
         <mat-checkbox formControlName="dates">Dates</mat-checkbox><br />
        </section>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </form>
  </mat-step> -->
  <!--Third Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Vegetables</ng-template>
      <section class="form-vegetables-fresh" [formGroup]="form">
        <mat-card-subtitle class="vegetables-fresh-subtitle">Fresh</mat-card-subtitle><br />
        <mat-checkbox formControlName="carrots">Carrots</mat-checkbox><br />
        <mat-checkbox formControlName="miscFreshVegetables">Miscellaneous Fresh Vegetables as available</mat-checkbox><br />
      </section>
      <section class="form-vegetables-canned" [formGroup]="form">
        <mat-card-subtitle class="vegetables-canned-subtitle">Canned</mat-card-subtitle><br />
        <mat-checkbox formControlName="corn">Corn</mat-checkbox><br />
        <mat-checkbox formControlName="greenBeans">Green beans</mat-checkbox><br />
        <mat-checkbox formControlName="peas">Peas</mat-checkbox><br />
        <mat-checkbox formControlName="sweetPotatoes">Sweet potatoes</mat-checkbox><br />
        <mat-checkbox formControlName="spinach">Spinach</mat-checkbox><br />
        <mat-checkbox formControlName="cannedCarrots">Carrots</mat-checkbox><br />
      </section>
      <section class="form-vegetables-other" [formGroup]="form">
        <mat-card-subtitle class="vegetables-other-subtitle">Other</mat-card-subtitle><br />
        <mat-checkbox formControlName="dicedTomatoes">Diced tomatoes</mat-checkbox><br />
        <mat-checkbox formControlName="spaghettiSauce">Spaghetti sauce</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Fourth Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Proteins</ng-template>
      <section class="form-proteins-frozen-meat" [formGroup]="form"><br />
        <mat-card-subtitle class="frozen-meat-subtitle">Frozen meat</mat-card-subtitle><br />
        <mat-checkbox formControlName="groundBeef">Ground beef</mat-checkbox><br />
        <mat-checkbox formControlName="groundBeefOrPorkBlend">Ground beef/Pork blend</mat-checkbox><br />
        <mat-checkbox formControlName="plantBasedBurgers">Plant based burgers</mat-checkbox><br />
        <mat-checkbox formControlName="pizzaRanchPizza">Pizza Ranch pizza</mat-checkbox><br />
        <mat-checkbox formControlName="veggieRavioli">Veggie ravioli (for one)</mat-checkbox><br />
      </section>
      <section>
        <mat-card-subtitle class="pick-1-or-2"><u>Pick one or two</u></mat-card-subtitle><br />
        <mat-checkbox formControlName="chickenDrumsticks">Chicken drumsticks</mat-checkbox><br />
        <mat-checkbox formControlName="wholeChicken">Whole chicken </mat-checkbox><br />
        <mat-checkbox formControlName="chickenBreast">Chicken breast</mat-checkbox><br />
        <mat-checkbox formControlName="chickenLegQtrs">Chicken leg qtrs</mat-checkbox><br />
        <mat-checkbox formControlName="fishSticks">Fish sticks</mat-checkbox><br />
        <mat-checkbox formControlName="ham">Ham</mat-checkbox><br />
        <mat-checkbox formControlName="assortedMeats">Assorted meats as available</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-subtitle">Canned meat</mat-card-subtitle><br />
        <mat-checkbox formControlName="chicken">Chicken</mat-checkbox><br />
        <mat-checkbox formControlName="tuna">Tuna</mat-checkbox><br />
        <mat-checkbox formControlName="salmon">Salmon</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Ready to eat canned meals</mat-card-subtitle><br />
        <mat-checkbox formControlName="pastaWithMeatSauce">Pasta with meat sauce</mat-checkbox><br />
        <mat-checkbox formControlName="pastaInButterSauce">Pasta in butter sauce</mat-checkbox><br />
        <mat-checkbox formControlName="cannedChili">Canned chili</mat-checkbox><br />
        <mat-checkbox formControlName="vegCurry">Veg curry</mat-checkbox><br />
        <mat-checkbox formControlName="hotDogSauce">Hot dog sauce</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Canned Beans</mat-card-subtitle><br />
        <mat-checkbox formControlName="blackEyedPeas">Black Eyed Peas</mat-checkbox><br />
        <mat-checkbox formControlName="yellowEyedBeans">Yellow Eyed Beans</mat-checkbox><br />
        <mat-checkbox formControlName="pintoBeans">Pinto Beans</mat-checkbox><br />
        <mat-checkbox formControlName="porkAndBeans">Pork and Beans</mat-checkbox><br />
        <mat-checkbox formControlName="refriedBeans">Refried Beans</mat-checkbox><br />
        <mat-checkbox formControlName="whiteBeans">White Beans</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Dried Beans</mat-card-subtitle><br />
        <mat-checkbox formControlName="blackBeans">Black Beans</mat-checkbox><br />
        <mat-checkbox formControlName="driedPintoBeans">Pinto Beans</mat-checkbox><br />
        <mat-checkbox formControlName="yellowSplitPeas">Yellow Split Peas</mat-checkbox><br />
        <mat-checkbox formControlName="kidneyBeans">Kidney Beans</mat-checkbox><br />
        <mat-checkbox formControlName="miscDriedBeans">Miscellaneous Dried Beans</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Nuts</mat-card-subtitle><br />
        <mat-checkbox formControlName="peanutButter">Peanut Butter</mat-checkbox><br />
        <mat-checkbox formControlName="almonds">Almonds</mat-checkbox><br />
        <mat-checkbox formControlName="walnuts">Walnuts</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Snacks</mat-card-subtitle><br />
        <mat-checkbox formControlName="crackers">Crackers</mat-checkbox><br />
        <mat-checkbox formControlName="cookies">Cookies</mat-checkbox><br />
        <mat-checkbox formControlName="miscSnacks">Miscellaneous Snacks</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Fifth Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Grains</ng-template>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Grains</mat-card-subtitle><br />
        <mat-checkbox formControlName="rice">Rice</mat-checkbox><br />
        <mat-checkbox formControlName="stuffingMix">Stuffing Mix</mat-checkbox><br />
        <mat-checkbox formControlName="pancakeMix">Pancake Mix</mat-checkbox><br />
        <mat-checkbox formControlName="quickOats">Quick Oats</mat-checkbox><br />
        <mat-checkbox formControlName="readyToEatCereal">Ready-to-eat Cereal</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Dried Pasta</mat-card-subtitle><br />
        <mat-checkbox formControlName="elbowNoodles">Elbow Noodles</mat-checkbox><br />
        <mat-checkbox formControlName="macaroniAndCheese">Macaroni and Cheese</mat-checkbox><br />
        <mat-checkbox formControlName="pennePasta">Penne Pasta</mat-checkbox><br />
        <mat-checkbox formControlName="instantPastaOrRice">Instant Pasta or Rice</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Bakery</mat-card-subtitle><br />
        <mat-checkbox formControlName="bread">Bread</mat-checkbox><br />
        <mat-checkbox formControlName="hamburgerBuns">Hamburger Buns</mat-checkbox><br />
        <mat-checkbox formControlName="hotDogBuns">Hot Dog Buns</mat-checkbox><br />
        <mat-checkbox formControlName="bakedGoods">Baked Goods</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Sixth Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Dairy Proteins</ng-template>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Dairy</mat-card-subtitle><br />
        <mat-checkbox formControlName="freshMilk">Fresh Milk</mat-checkbox><br />
        <mat-checkbox formControlName="miscellaneousDairyProducts">Miscellaneous Dairy Products</mat-checkbox><br />
        <mat-checkbox formControlName="cheese">Cheese</mat-checkbox><br />
        <mat-checkbox formControlName="yogurt">Yogurt</mat-checkbox><br />
        <mat-checkbox formControlName="butter">Butter</mat-checkbox><br />
        <mat-checkbox formControlName="shelfStableMilk">Shelf Stable Milk</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Seventh Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Pantry, Cooking, and Baking</ng-template>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Baking</mat-card-subtitle><br />
        <mat-checkbox formControlName="bakingMix">Baking Mix</mat-checkbox><br />
        <mat-checkbox formControlName="cakeMix">Cake Mix</mat-checkbox><br />
        <mat-checkbox formControlName="flour">Flour</mat-checkbox><br />
        <mat-checkbox formControlName="muffinMix">Muffin Mix</mat-checkbox><br />
        <mat-checkbox formControlName="cookieMix">Cookie Mix</mat-checkbox><br />
        <mat-checkbox formControlName="miscellaneousBakingItems">Miscellaneous Baking Items</mat-checkbox><br />
        <mat-checkbox formControlName="vegetableOil">Vegetable Oil</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Soups</mat-card-subtitle><br />
        <mat-checkbox formControlName="chickenNoodleSoup">Chicken Noodle Soup</mat-checkbox><br />
        <mat-checkbox formControlName="tomatoSoup">Tomato Soup</mat-checkbox><br />
        <mat-checkbox formControlName="vegetableSoup">Vegetable Soup</mat-checkbox><br />
        <mat-checkbox formControlName="creamyCannedSoup">Creamy Canned Soup</mat-checkbox><br />
        <mat-checkbox formControlName="miscellaneousSoup">Miscellaneous Soups as available</mat-checkbox><br />
      </section>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Condiments</mat-card-subtitle><br />
        <mat-checkbox formControlName="seasonings">Seasonings</mat-checkbox><br />
        <mat-checkbox formControlName="hotSauce">Hot Sauce</mat-checkbox><br />
        <mat-checkbox formControlName="saladDressing">Salad Dressing</mat-checkbox><br />
        <mat-checkbox formControlName="ranchDressing">Ranch Dressing</mat-checkbox><br />
        <mat-checkbox formControlName="mustard">Mustard</mat-checkbox><br />
        <mat-checkbox formControlName="syrup">Syrup</mat-checkbox><br />
        <mat-checkbox formControlName="miscellaneousPicklesOlivesETC">Miscellaneous Pickles, Olives, etc.</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
<!--Eighth Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Baby Supplies</ng-template>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Baby Food/Supplies</mat-card-subtitle><br />
        <mat-checkbox formControlName="fruitOrVegetablePuree">Fruit or Vegetable Puree</mat-checkbox><br />
        <mat-checkbox formControlName="babyCereal">Baby Cereal</mat-checkbox><br />
        <mat-checkbox formControlName="formula">Formula</mat-checkbox><br />
        <mat-checkbox formControlName="newbornGiftBag">Newborn Gift Bag</mat-checkbox><br />
        <mat-checkbox formControlName="diapers" [disabled]="true">Diapers</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
<!--Ninth Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Personal Supplies</ng-template>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Hygiene</mat-card-subtitle><br />
        <mat-checkbox formControlName="shampoo">Shampoo</mat-checkbox><br />
        <mat-checkbox formControlName="bodyOrHandSoap">Body or Hand Soap</mat-checkbox><br />
        <mat-checkbox formControlName="toothpaste">Toothpaste</mat-checkbox><br />
        <mat-checkbox formControlName="toothbrushes">Toothbrushes</mat-checkbox><br />
        <mat-checkbox formControlName="birthdayPartyKit">Birthday Party Kit</mat-checkbox><br />
        <mat-checkbox formControlName="handSanitizer">Hand Sanitizer</mat-checkbox><br />
        <mat-checkbox formControlName="feminineHygiene">Feminine Hygiene</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Tenth Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Household Supplies</ng-template>
      <section class="form-proteins-canned-ready" [formGroup]="form">
        <mat-card-subtitle class="proteins-canned-ready-subtitle">Cleaning Supplies</mat-card-subtitle><br />
        <mat-checkbox formControlName="dishSoap">Dish Soap</mat-checkbox><br />
        <mat-checkbox formControlName="laundryDetergent">Laundry Detergent</mat-checkbox><br />
        <mat-checkbox formControlName="disinfectingWipes">Disinfecting Wipes</mat-checkbox><br />
      </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!--Closing Stepper-->
  <!-- <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Finish</ng-template>
      <p>Make sure you double check all the form wanted are checked. If so, submit form!</p>
      <mat-card-actions align="start">
        <button
          mat-button
          type="button"
          color="primary"
          class= "submit_button"
          type="submit"
          data-test="confirmAddTodoButton"
          onClick= "submitForm()">
          Submit Request Form
        </button>
      </mat-card-actions>
    </form>
  </mat-step>
</mat-stepper> -->

    <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
    <!-- <ng-template #requestFormError>
      <div class="flex-1" class="fsclient-error">
        <mat-error>
          There was a problem loading the requestForm. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </div>
    </ng-template> -->

