<div class="flex-row">
  <div class="flex-1">

     <button mat-button class="clients-button" matTooltip="Clients" matTooltipPosition="left" routerLink="/inventory/volunteer" data-test="account_box">
      <mat-label >Inventory / Inventario</mat-label>
      <mat-icon class="account_box" aria-label="Volunteer Page">account_circle</mat-icon>
     </button>

    <!--Filters-->
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="volunteer-view-title">Needs requested</mat-card-title>
      </mat-card-header>
    <mat-card-content>
      <!--Recency Filter-->
      <div class="flex-row gap-8 flex-wrap">
        <mat-form-field class="">
          <mat-label>Sort by:</mat-label>
          <mat-select (selectionChange)="getRequestsFromServer()" data-test="requestItemTypeSelect">
            <mat-option>--</mat-option>
            <mat-option value="oldest">Oldest</mat-option>
            <mat-option value="newest">Newest</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>
    </mat-card>
  </div>
</div>

<!--List View-->
<div class="flex-row">
  <div class="flex-1" *ngIf="serverFilteredRequests; else requestsError">
    <mat-card-content>
      <mat-nav-list class="volunteer-nav-list">
        <h3 mat-subheader>Requests</h3>
        <a mat-list-item *ngFor="let request of this.serverFilteredRequests" [routerLink]="['/inventory/volunteer']" class="volunteer-list-item">
          <span matListItemTitle mat-line class="request-date-name"> {{request.name}} {{request.timeSubmitted}} </span>
          <span matListItemLine class="request-seletions"> {{request.selections}} </span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </div>

  <ng-template #requestsError>
    <div class="flex-1" class="requests-error">
      <mat-error>
        There was a problem loading the requests. The server may be down or there are
        network issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>
</div>
