<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl] = "foods">
    <form [formGroup] = "foods">
      <ng-template matStepLabel>Fruits</ng-template>
        <section class="form-fruits-fresh" [formGroup]="foods">
          <mat-card-subtitle class="fruits-fresh-subtitle">Fresh</mat-card-subtitle><br />
          <mat-checkbox formControlName="miscFreshFruit" onchange="updateList('miscFreshFruit')">Miscellaneous Fresh Fruit as available</mat-checkbox><br />
          <mat-checkbox formControlName="appleJuice" onchange="updateList('appleJuice')">Apple juice</mat-checkbox><br />
          <mat-checkbox formControlName="frozenPeaches" onchange="updateList('frozenPeaches')">Frozen peaches</mat-checkbox><br />
       </section>
       <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="foods">
    <form [formGroup]="foods" (ngSubmit) = "submitForm()">
      <ng-template matStepLabel>Finish</ng-template>
      <p>Make sure you double check all the foods wanted are checked. If so, submit form!</p>
      <mat-card-actions align="start">
        <button
          mat-button
          type="button"
          class= "submit_button"
          type="submit"
          data-test="confirmAddRequestButton">
          Submit Request Form
        </button>
      </mat-card-actions>
    </form>
  </mat-step>
</mat-stepper>
