
.home-card{
  position: relative;
  background-color: maroon;
  border: 3px solid rgb(247, 213, 25);
  color: rgb(247, 213, 25);
  text-align: center;
}

.img{
  align-content: center;
  left: 300px;
}

