<button mat-button class="clients-button" matTooltip="Clients" matTooltipPosition="left"
  routerLink="/requests/volunteer" data-test="account_box">
  <mat-label>Volunteers / Voluntarios</mat-label>
  <mat-icon class="account_box" aria-label="Volunteer Page">account_circle</mat-icon>
</button>

<div class="flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card appearance="outlined" class="search-card">
      <mat-card-title class="inventory-card-title">Inventory</mat-card-title>
      <mat-card-content class="flex-col">

        <button raised-mat-button><mat-icon>fastfood</mat-icon>Add Foods</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  <div class="flex-1" *ngIf="serverFilteredItems">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="inventory-cards-container">
          <app-inventory-card [simple]="true" *ngFor="let item of this.serverFilteredItems" class="inventory-card" [item]="item"
            fxFlex="1 1 280px"></app-inventory-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #itemError>
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="item-error">
    <mat-error>
      There was a problem loading the items. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again or start the server.
    </mat-error>
  </div>
</ng-template>
